body {
  background-color: #222;
  padding: 10px;
  color: #eee;
}

#left {
  float: left;
  width: 19%;
  margin-right: 1%;
  background-color: #444;
  padding: 10px;
  height: 600px;
}

#right {
  float: left;
  width: 75%;
  background-color: #444;
  padding: 10px;
  height: 600px;
}

#messages {
  width: 100%;
}

#online-users-title {
  font-weight: bold; 
  font-size: 18px; 
  margin-bottom: 15px;
}

#message {
  width: 90%;
}

#messages {
  list-style: none;
  height: 535px;
  overflow-y: scroll;
  display: none;
}

#send-message-container {
  margin-top: 10px;
  display: none;
}
